<label class="lbl">{{label}}</label>
<div class="btn">
    <span class="text">{{value}}</span><b class="arrow"></b>
    <div class="lyr">{{#options}}<a class="opt">{{name}}</a>{{/options}}</div>
</div>
